@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/social.css" rel="stylesheet">
<script src="~/js/libs/modernizr.min.js"></script>
<link href="~/ico/favicon.ico" rel="shortcut icon">
<link href="~/ico/apple-touch-icon.png" rel="apple-touch-icon">
<link href="~/ico/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="~/ico/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<header class="span3">
    <div class="affix">
        <div class="navbar span3">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                    <i class="icon-reorder"></i>
                </a>
                <a class="brand span2" href="index.html">
                    <img alt="" src="~/img/logo.png">
                </a>
                <nav class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="nav-home active"><a href="index.html">Home</a></li>
                        <li class="dropdown nav-portfolio">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Fingerprinting
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-portfolio-item"><a href="services.html">Services</a></li>
                                <hr style="margin:0" />
                                <li class="nav-portfolio-item"><a href="business_solutions.html">Businesses</a></li>
                                <hr style="margin:0" />
                                <li class="nav-portfolio-item"><a href="individual_solutions.html">Individual</a></li>
                                <hr style="margin:0" />
                                <li class="nav-portfolio-item"><a href="Purchase-fd-258-cards.html">Cards</a></li>
                            </ul>
                        </li>

                        <li class="dropdown nav-portfolio">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Services
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-portfolio-item"><a href="live_scan.html">Live Scan</a></li>
                                <hr style="margin:0" />
                                <li class="nav-portfolio-item"><a href="ink_fingerprinting.html">Ink Fingerprinting</a></li>
                                <hr style="margin:0" />
                                <li class="nav-portfolio-item"><a href="ny_state_reqs.html">NY State requirements</a></li>
                                <hr style="margin:0" />
                                <li class="nav-portfolio-item"><a href="nmls.html">NMLS Requirements</a></li>
                                <hr style="margin:0" />
                                <li class="nav-portfolio-item"><a href="twic.html">TWIC</a></li>
                                <hr style="margin:0" />
                                <li class="nav-portfolio-item"><a href="Electronic_filing_FINRA_ABA.html">FINRA Channeling</a></li>
                                <hr style="margin:0" />
                                <li class="nav-portfolio-item"><a href="FBI-Channeling.html">FBI Channeling	</a></li>
                                <hr style="margin:0" />
                                <li class="nav-portfolio-item"><a href="record_archiving.html">Fingerprint Archiving</a></li>
                                <hr style="margin:0" />
                                <li class="nav-portfolio-item"><a href="Notary_Services.html">Notary Service</a></li>
                                <hr style="margin:0" />
                                <li class="nav-portfolio-item"><a href="Mobile-Fingerprints.html">Mobile Fingerprints</a></li>
                            </ul>
                        </li>

                        <li class="nav-contact"><a href="faq.html">FAQ</a></li>
                        <li class="nav-contact"><a href="contact_print_scan.html">Contact</a></li>
                        <li class="nav-about"><a href="about_print_scan.html">About</a></li>
                    </ul>
                </nav>
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
        <aside class="span3 text-center hidden-phone">
            <ul class="social inline">
                <a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/PrintScanFingerprinting"></a>
                <a class="googleplusBtn smGlobalBtn" href="https://plus.google.com/up/?type=st&client=15&gpsrc=losrc&parent=https%3A%2F%2Fwww.google.com&proxy=I3_1449085430905&wlbsl=1&rsz=1"></a>
                <a class="linkedinBtn smGlobalBtn" href="https://www.linkedin.com/profile/view?id=AAkAAAEorsoBU8vHkpvHjZcgzNovNwaFRuIaHUU"></a>
                <a class="emailBtn smGlobalBtn" href="mailto:info@printscan.com"></a>
                <a class="phoneBtn smGlobalBtn" href="tel:+16314497454"></a>
            </ul>
        </aside>
    </div><!-- /affix -->
</header>