@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="about">
    <section class="section-content section-about" id="section-about">
        <h2 class="section-title">
            About
            <small>PrintScan Fingerprinting Services</small>
        </h2>
        <figure>
            <img alt="" src="~/img/gallery/01.jpg">
        </figure>
        <blockquote>
            <p class="lead">PrintScan offers a professional alternative to electronic and ink fingerprinting.</p>
        </blockquote>
        <div class="row">
            <div class="span4">
                <p>Print Scan is a Limited Liability Company established in 2001. We realize the difficulty of getting fingerprinted by local police and offer a professional alternative.  Increasingly, police departments are no longer fingerprinting civilians who have the need for licensing, applications, or good conduct searches. Having us do your fingerprinting is the same as going to a local police department. All of our police officers are all active, not retired.</p>
            </div>
            <div class="span4">
                <p>Print Scan makes the fingerprinting process easy for you. We come right to your office, home, or anywhere else that you may request us to do your required fingerprints in the comfort of your own environment. We work weekends and evenings to make sure we can cover the needs of all of our clients. Our fingerprinters will arrive at your location and provide quality fingerprints with minimal disturbance to your environment. For larger groups, we can send additional fingerprinters to you at no extra charge.</p>
            </div>
            <div class="span4">
                <p>All of our technicians are very experienced, friendly, and knowledgeable in the fingerprinting process, and will help to guide you through your specific fingerprinting process. Each fingerprinter has fingerprinted thousands of people and guarantee their work. We always have one notary working as well.</p>
            </div>
        </div>
    </section>
</body>
