@{
    ViewBag.Title = "Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<!--
                            |   _)             |            _)  |
   _ \  _ \  _ \   _` |   _| _|  |   _|  |  |  |   _` |   _| |   _|  |  |
  .__/ .__/ .__/ \__,_| _| \__| _| \__| \_,_| _| \__,_| _|  _| \__| \_, |
 _|   _|   _|                                                       ___/
                                                tailored web design
-->
<!--[if lt IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<body class="content">

    <!-- .................................... $Page .................................... -->
    <section class="section-content section-content-sidebar">
        <h1 class="section-title">
            Purchase FD-258 Fingerprint Cards
        </h1>
        <div class="row">
            <div class="span8">
                <article>
                    <p>
                        This is the standard FBI fingerprint card, form No. FD-258 used by the FBI, Bureau of U.S. Citizenship and Immigration Services, and many police agencies for non-criminal fingerprinting such as for Employment clearances or immigration purposes. If you have been asked to submit fingerprints, this is the correct card.
                    </p>
                    <p>
                        The dimension of the FD-258 Fingerprint Card is 8 x 8 inches, with an angle cut on the left corner of the ink card. it is printed on heavy stock paper with blue ink and is also known as the "Blue Hard Card".
                    </p>
                    <p>
                        When filling out your fingerprint ink card be sure to complete all the required fields, this includes your full name, date and place of birth, physical description, social security number, and mailing address all in black ink.
                    </p>
                    <h2>
                        Fingerprint Card Prices-
                    </h2>
                    <ul>
                        <li>5 pack of cards or $20 plus shipping</li>
                        <li>50 pack of cards for $40 plus shipping</li>
                        <li>250 pack of cards for $100 plus shipping</li>
                    </ul>
                </article>
            </div>
        </div>
    </section>
</body>
</html>
