<body class="contact">
    <h2 class="section-title">Locations</h2>
    <!-- .................................... $MAP on background .................................... -->
    <section class="section-content section-map-background" id="section-map-background">
        <div class="map map-background" id="map_manhattan"></div>
        <div class="row">
            <div class="span3 offset5">
                <div class="box box-shadow">
                    <h3 class="box-title">
                        <strong>Manhattan, NY</strong>
                    </h3>
                    <div class="box-content">
                        <table>
                            <tr>
                                <td style="width: 3em;"><strong>Mon</strong></td>
                                <td style="width: 2em;">9a</td>
                                <td>– 5:30p</td>
                            </tr>
                            <tr>
                                <td><strong>Tue</strong></td>
                                <td>9a</td>
                                <td>– 5:30p</td>
                            </tr>
                            <tr>
                                <td><strong>Wed</strong></td>
                                <td>9a</td>
                                <td>– 5:30p</td>
                            </tr>
                            <tr>
                                <td><strong>Thu</strong></td>
                                <td>9a</td>
                                <td>– 5:30p</td>
                            </tr>
                            <tr>
                                <td><strong>Fri</strong></td>
                                <td>9a</td>
                                <td>– 5:30p</td>
                            </tr>
                            <tr>
                                <td><strong>Sat</strong></td>
                                <td>10a</td>
                                <td>– 4:00p</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- .................................... $Contact .................................... -->
    <section class="section-content section-contact">
        <div class="row">
            <div class="span4">
                <h5>PrintScan Fingerprinting, LLC.</h5>
                <address>
                    958 S Broadway
                    <br>
                    Hicksville, NY 11801
                </address>
                <p>
                    <i class="icon-envelope"></i>
                    <a href="mailto:info@company.com">info@printscan.com</a>
                    <br>
                    <i class="icon-phone"></i>
                    <a href="tel:+15167261350">(516) 726-1350</a>
                </p>
            </div>
        </div>
    </section>
</body>