@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="content">
    <section class="section-content section-content-sidebar">
        <h1 class="section-title">
            Frequently Asked Questions
        </h1>
        <div class="row">
            <div class="span8">
                <article>
                    <p>Print Scan is a full service fingerprinting company that services the Tri-State area.</p>
                    <p>The following are some of the more popular questions we receive regarding our company and fingerprinting services. Feel free to call or <a href="mailto:info@newyorkfingerprints.com">email</a> us with any other questions you may have.</p>

                    <h4>I need Live Scan for the NYS Board of Education, can you do that?<br /></h4>
                    <p>
                        The NYS Board of Education has their own Live Scan program which we are not a part of. You would need to contact them for the Live Scan fingerprinting. We can do the traditional ink fingerprinting for them however.
                    </p>

                    <h4>I need Live Scan fingerprinting for a job requirement in NYS that will be going to DCJS, can you do that?</h4>
                    <p> Yes, we can, but we are subcontracted by Morpho Trust U.S.A. and all appointments must be made through them. Call to make an appointment with L-1 at 1-877-472-6915 or for more information.</p>
                    <p>

                        <h4>
                            I need Live Scan fingerprinting done required by another state, can you do that?
                        </h4>
                    <p> No, Live Scan fingerprinting is not all hooked up together and can not be transmitted from one state to another state. In these cases we fingerprint you and can archive your prints for the future. You send the cards to the state(s) requiring the prints and they can be scanned into that states system. Call for more information</p>

                    <h4>
                        What if our company or individual needs fingerprinting somewhere else around the country other than the Tri-State area?
                    </h4>
                    <p>
                        We have contacts from companies just like ours all around the country.
                    </p>
                    <p>
                        <h4>
                            How long does the whole finger printing process take with your company?
                        </h4>
                    <p>
                        It is fast, probably about 30 second to one minute per fingerprint card. It will take you longer to fill out your cards then to be fingerprinted.
                    </p>

                    <h4>
                        How soon can I get an appointment with your company when I call?
                    </h4>
                    <p>
                        Usually within a day or two. We have many officers working for us.
                    </p>

                    <h4>
                        What do I need to bring with me when I get fingerprinted when using your service?
                    </h4>
                    <p>
                        At least one piece of government issued ID
                    </p>
                    <ul>
                        <li>Fingerprint cards (unless we are providing the cards)</li>
                        <li>Know how many cards you will need and what they are for (we know in most cases)</li>
                        <li>Employer's name and address</li>
                    </ul>
                    <p>
                        <h4> What forms of ID are acceptable?</h4>
                    <p> Acceptable forms of ID are:</p>
                    <ul>
                        <li> State Driver's License</li>
                        <li>State Issued ID Card</li>
                        <li>Military ID</li>
                        <li>Green Card</li>
                        <li>Alien Registration Card</li>
                        <li>Current Passport</li>
                    </ul>
                    <p>

                        <h4>
                            I have very dry hands or flat fingerprints, what do you suggest I use to produce clear prints?
                        </h4>
                    <p>
                        Wash your hands with warm water and a dishwashing liquid. Dry your hands and apply a moisturizing lotion.
                    </p>
                </article>
            </div>
        </div>
    </section>
</body>