@{
    ViewBag.Title = "FBI_Channeling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<!--
                            |   _)             |            _)  |
   _ \  _ \  _ \   _` |   _| _|  |   _|  |  |  |   _` |   _| |   _|  |  |
  .__/ .__/ .__/ \__,_| _| \__| _| \__| \_,_| _| \__,_| _|  _| \__| \_, |
 _|   _|   _|                                                       ___/
                                                tailored web design
-->
<!--[if lt IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Print Scan Fingerprint Company - New York Fingerprinting Services</title>
    <meta name="description" content="Print Scan offers the only mobile Live Scan fingerprinting in the 5 boroughs.">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="elemind.com" name="author">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/libs/modernizr.min.js"></script>
    <link href="ico/favicon.ico" rel="shortcut icon">
    <link href="ico/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="ico/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="ico/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
</head>
<body class="content">
    <!-- .................................... $Page .................................... -->
    <section class="section-content section-content-sidebar">
        <h1 class="section-title">
            FBI Channeling
        </h1>
        <div class="row">
            <div class="span8">
                <article>
                    <p>
                        FBI Requests are one of the most common requests of individuals who seek to obtain a copy of their criminal history report(FBI good conduct letter). Generally, individuals are fingerprinted, complete an FBI Applicant Form, and submit payment directly to the FBI to process the request. To obtain criminal history records from the FBI can take between 6 and 12 weeks to process requests. With Print Scan, records can be obtained in hours.
                    </p>
                    <p>
                        In 2007, the FBI began contracting companies across the country to submit requests electronically in order to expedite the process for individuals who need results quickly. These contracted businesses are known as Approved FBI Channelers. The channeler will submit the record request to the FBI electronically and receive back all relevant data to present the information to the individual making the request.
                    </p>
                    <h2>FBI Channeler Partner</h2>
                    <p>
                        In 2012, Print Scan partnered with an Approved FBI Channeler, and can now submit your FBI record request for expedited results. This allows results to be obtained within seven business days of the request or as little as 48 hours for an additional fee. Results are available on the channeler's secure web portal which will be emailed to the applicant upon submission to the channeler. For security purposes, individuals will only have two weeks from the time of the request to access the results. A hard copy of the results can be obtained by printing directly from the web portal or selecting the mail option when initially submitting your request.
                    </p>
                    <p>
                        Although submitting an FBI request through a channeler is a quick and easy alternative to waiting for a response from the FBI, there are some restrictions for electronic submissions. This service is only available to US Citizens or lawful Permanent Residents. Any individuals who are not US Citizens or Green Card holders will need to submit their request by mail directly to the FBI. If the requestor was instructed to have their results apostilled or authenticated, they will need to select the mail option to obtain a tamperproof copy of the FBI results. Once received, the report can be mailed to the US Department of State's Office of Authentication for the apostille. For more details on the authentication process please call the Department of State's office directly at 202-485-8000.
                    </p>
                </article>
            </div>
        </div>
    </section>
</body>
</html>