@{
    ViewBag.Title = "FBI_Channeling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="content">
    <section class="section-content section-content-sidebar">
        <h1 class="section-title">
            Fingerprint Archiving Service
        </h1>
        <div class="row">
            <div class="span8">
                <article>
                    <p>
                        Our company provides record archiving of fingerprints for those who need to get fingerprinted multiple times for different types of needs or license requirements.
                    </p>
                    <p>
                        People that utilize this are mortgage brokers that need to be fingerprinted in multiple states to do loans. Insurance agents that need to be fingerprinted in most states to do business there. CEO's to sit on different company boards etc.
                    </p>
                    <p>
                        Electronic fingerprinting with this option is best for people who need print cards more than twice a year.
                    </p>
                    <p>
                        What we do is electronically scan the fingerprints and archive the records. We can later load the prints into our system and print out as many cards as needed using our FBI certified fingerprint card printer. Our record archive procedure is protected and people's information is encrypted. Archiving Records can be printed on most standard fingerprint cards from any state including the standard FBI FD 258 fingerprint card.
                    </p>
                </article>
            </div>
        </div>
    </section>
</body>
