@{
    ViewBag.Title = "FINRA_Channeling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="content">
    <section class="section-content section-content-sidebar">
        <h1 class="section-title">
            FINRA Fingerprinting
        </h1>
        <div class="row">
            <div class="span8">
                <article>
                    <p>
                        All broker dealers and FINRA members are required to send fingerprints within 30 days after a U4 filing is submitted to FINRA Web CRD. If fingerprints are not received in the 30 day time period, the employee must cease doing business until such time as the fingerprints are entered into the CRD system, under the Rule 17(f)(2) of the Securities and Exchange Act of 1934. Most brokerage firms are required to have their employees fingerprinted under these terms. We are pleased to announce that we can now assist brokerage firms in maintaining compliance with FINRA under the above mentioned terms.
                    </p>
                    <h2>Choose the service</h2>
                    <ul>
                        <li>Ink fingerprinting services</li>
                        <li>Electronic Fingerprinting Submissions (EFS)</li>
                    </ul>
                    <h2>Choose how to receive your service</h2>
                    <ul>
                        <li>You come to one of our authorized fingerprint centers and get fingerprinted there.</li>
                        <li>We come to you and do the fingerprinting in your location. There is never a minimum of people required!</li>
                        <li>We can do card scanning! If you have an office at a remote location or cannot make it into our offices we can turn your ink card into and electronic submission by scanning it in!</li>
                    </ul>
                    <h3>Additional Information on Electronic Fingerprinting Submissions (EFS)</h3>
                    <p>
                        Print Scan is now a proud approved fingerprint channeler to handle all of your EFS (Electronic Fingerprint Submissions) to FINRA. As a certified vendor Print Scan and Nationwide Biometrics offers a secure connection where fingerprints can be submitted electronically by Live Scan fingerprinting with results being delivered back to the broker dealer through FINRA CRD. Print Scan has worked closely with FINRA to become authorized to submit EFS under the guidelines established by the FBI and FINRA and is only one of ten companies in the United Stated to do so.
                    </p>
                    <p>
                        Using our Live Scan system and software to collect fingerprints and transmit them to FINRA will make the process secure, speed the results, and improve the quality of fingerprints with instant quality feedback which will translate into reduced rejections. Electronic Fingerprint Submissions (EFS) will allow broker dealer firms to track and retrieve results that are posted on CRD typically within 48 hours or less.
                    </p>
                    <p>
                        FINRA members who are interested in replacing traditional ink fingerprint card submissions to FINRA with EFS should contact Print Scan at (631) 782-1700 or email us at info@printscanllc.com.
                    </p>
                    <h3>To qualify as a broker dealer</h3>
                    <p>
                        The agreement below will need to be signed by an authorized agent of the broker dealer and returned to Print Scan at:
                    </p>
                    <address>
                        Print Scan LLC<br />
                        21 Pulaski Road<br />
                        Kings Park, NY 11754<br />
                        Attention: EFS FINRA
                    </address>
                    <p>
                        Broker Dealer Participant Agreement - Firms who wish to participate and submit EFS to FINRA must complete this agreement.
                    </p>
                    <p>
                        *NOTE* Signing this agreement does not obligate you into using NatBio exclusively for fingerprinting and you may still submit ink hard cards if you choose.
                    </p>
                    <p>
                        Print Scan covers the entire Tri-State area and beyond. Call to find out if we cover your area. You can also come in to one of our locations based in both Manhattan and Long Island.
                    </p>
                </article>
            </div>
        </div>
    </section>
</body>