@{
    ViewBag.Title = "Individuals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<!--
                            |   _)             |            _)  |
   _ \  _ \  _ \   _` |   _| _|  |   _|  |  |  |   _` |   _| |   _|  |  |
  .__/ .__/ .__/ \__,_| _| \__| _| \__| \_,_| _| \__,_| _|  _| \__| \_, |
 _|   _|   _|                                                       ___/
                                                tailored web design
-->
<!--[if lt IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
</head>
<body class="content">
    <div class="container">
        <div class="row">
            <div class="main span9">

                <!-- .................................... $Page .................................... -->
                <section class="section-content section-content-sidebar">
                    <h1 class="section-title">
                        Fingerprinting For Individuals
                    </h1>
                    <div class="row">
                        <div class="span8">
                            <article>
                                <p>
                                    Print Scan provides Ink Fingerprinting and Live Scan Printing to individuals who need quality fingerprinting without a hassle. Whether you are a securities broker, government employee, or you need fingerprinting for any other reason, Print Scan works with individuals at their work, office or one of our conveniently located offices in both Manhattan and Long Island
                                </p>
                                <p>
                                    We realize the busy lifestyle of individuals. We will do everything we can to make the inconvenience of fingerprinting requirements adaptable to your needs. We can come to your office during the day or your home during the night. We work weekends as well or you can come to one of our locations by appointment.
                                </p>
                                <p>
                                    Utilizing our fingerprinting service eliminates waiting in lines for service and the restrictions of limited days and hours at your local Police station, not to mention the uncomfortable and sometimes intimidating environment of a Police Department facility. We complete your cards professionally. If you need freequent fingerpinting, ask about our archiving solution.
                                </p>
                                <p>
                                    We serve the entire Tri-State area for our mobile services or you can come to us.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>


            </div><!-- /main span9 -->

        </div><!-- /row -->
    </div><!-- /container -->
    <!-- .................................... $scripts .................................... -->
</body>
</html>