@{
    ViewBag.Title = "NMLS_Requirements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="content">
    <section class="section-content section-content-sidebar">
        <h1 class="section-title">
            Fingerprinting For NMLS
            <small>National Mortgage Licensing System</small>
        </h1>
        <div class="row">
            <div class="span8">
                <article>
                    <p>Under the SAFE Act, all mortgage loan originators must provide fingerprints to the Nationwide Mortgage Licensing System (NMLS) for the purpose of receiving a national criminal history background check through the Federal Bureau of Investigation. As part of this comprehensive process, NMLS has implemented an electronic fingerprint program.</p>
                    <p>
                        Print Scan has a NMLS Live Scan system in our Manhattan location and our Long Island locations. Print Scan also offers mobile NMLS fingerprinting where we can come to your site to do the fingerprinting.
                    </p>
                </article>
            </div>
        </div>
    </section>
</body>