@{
    ViewBag.Title = "NY_State_Requirements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="content">
    <section class="section-content section-content-sidebar">
        <h1 class="section-title">
            New York State Fingerprint Requirements
        </h1>
        <div class="row">
            <div class="span8">
                <article>
                    <p>In June of 2009, New York State Department of Criminal Justice Services stopped taking ink fingerprinting cards. Any NYS requirments for a New York resident must be done with Live Scan fingerprinting through Morpho Trust U.S.A.</p>
                    <p>Print Scan is partnered with Morpho Trust U.S.A. to provide these services. Print Scan has a Morpho Trust U.S.A. Live Scan system in our Manhattan location and our two Long Island locations. Print Scan also offers mobile fingerprinting where we can come to your site to do the fingerprinting for groups of 30 or more.</p>
                    <p>
                        For more information and to make an appointment please contact Morpho Trust U.S.A. at 877-472-6915 or visit http://www.MorphoTrust.com
                    </p>
                </article>
            </div>
        </div>
    </section>
</body>
