@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<!--
                            |   _)             |            _)  |
   _ \  _ \  _ \   _` |   _| _|  |   _|  |  |  |   _` |   _| |   _|  |  |
  .__/ .__/ .__/ \__,_| _| \__| _| \__| \_,_| _| \__,_| _|  _| \__| \_, |
 _|   _|   _|                                                       ___/
                                                tailored web design
-->
<!--[if lt IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
</head>
<body class="content">
    <div class="container">
        <div class="row">
            <div class="main span9">
                <!-- .................................... $Page .................................... -->
                <section class="section-content section-content-sidebar">
                    <h1 class="section-title">
                        Fingerprint Services
                    </h1>
                    <div class="row">
                        <div class="span8">
                            <article>
                                <p>
                                    Print Scan is a New York based fingerprinting company servicing business customers and individuals. Our company fingerprinters are all experienced technicians who provide professional and efficient fingerprinting for any and all needs. We provide ink and Live Scan fingerprinting in your location or in one of our three locations based in either Manhattan or Long Island by appointment only.
                                </p>
                                <p>
                                    We serve companies, institutions, and individuals needing print cards or electronic fingerprinting. We provide these services in the tri-state area and beyond in some cases.
                                </p>
                                <p>
                                    On site professional fingerprint cards and mobile Live Scan. All by professional technicians!
                                </p>
                                <h2>
                                    Print Scan covers all of your fingerprinting needs:
                                </h2>
                                <ul>
                                    <li>We offer competitive rates.</li>
                                    <li>We do everything we can to accommodate our clients.</li>
                                    <li>If you need something done in a rush, let us know.</li>
                                    <li>We can always get to you within one business day if needed.</li>
                                    <li>Payments Accepted: Check, Cash, Visa, Mastercard, American Express, and Discover</li>
                                    <li>Repeat businesses can be billed monthly</li>
                                    <li>Invoicing available</li>
                                </ul>
                                <h2>
                                    Who needs Print Scan?
                                </h2>
                                <ul>
                                    <li>Brokerage Firms and Banks- FINRA, SEC,NFA,ABA, etc.</li>
                                    <li>Children's fingerprinting</li>
                                    <li>All out of state fingerprinting requirements</li>
                                    <li>NY State fingerprinting requirements</li>
                                    <li>Insurance companies</li>
                                    <li>Board of Education (ink cards only) - We are not a part of NYSED Live Scan program</li>
                                    <li>Mortgage Lenders both ink for out of state requirements as well as NMLS</li>
                                    <li>Immigration for other Countries (Not United States)</li>
                                    <li>Security clearance for governement jobs/contracts</li>
                                    <li>Gaming licenses</li>
                                    <li>Public transporation</li>
                                    <li>Higher education</li>
                                    <li>FBI Good conduct searches</li>
                                    <li>Medical field</li>
                                    <li>Phamacutical companies</li>
                                    <li>Individuals that need fingerprints to sit on Board of Directors for companies</li>
                                </ul>
                                <p>
                                    And any other licenses, registrations, certification, individuals or company that have a need or a legal requirement to be fingerprinted.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>


            </div><!-- /main span9 -->

        </div><!-- /row -->
    </div><!-- /container -->
</body>
</html>