@{
    ViewBag.Title = "TWIC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="content">
    <section class="section-content section-content-sidebar">
        <h1 class="section-title">
            Transportation Worker Identification Credential
        </h1>
        <div class="row">
            <div class="span8">
                <article>
                    <p>All three Print Scan Fingerprinting locations, in Manhattan conveniently located two blocks from Penn Station and our Long Island locations in Kings Park and Hicksville process individuals seeking their Transportation Worker Identification Credential (or "TWIC") card.</p>
                    <p>
                        The <strong>Transportation Worker Identification Credential</strong> program is a Transportation Security Administration and U.S. Coast Guard initiative in the United States. The TWIC program provides a tamper-resistant biometric credential to maritime workers requiring unescorted access to secure areas of port facilities, outer continental shelf facilities, and vessels regulated under the Maritime Transportation Security Act of 2002, or MTSA, and all U.S. Coast Guard credentialed merchant mariners. Those seeking unescorted access to secure areas aboard affected vessels, and all Coast Guard credentialed merchant mariners, must obtain a TWIC. To obtain a TWIC, an individual must provide biographic and biometric information such as fingerprints, sit for a digital photograph and successfully pass a security threat assessment conducted by TSA. The assessment considers convictions, arrest warrants, and indictments for certain offenses and other background information.
                    </p>
                    <p>
                        Workers required to obtain a TWIC include credentialed merchant mariners, port facility employees, long shore workers, truck drivers, and others requiring unescorted access to secure areas of security-regulated maritime facilities and vessels.
                    </p>
                    <p>
                        At Print Scan we value the time of the workers and our TA's (Trusted Agents) will do all it takes to get the workers processed in a courteous and timely manner.
                    </p>
                    <p>
                        To schedule your TWIC appointment call 855-347-8371 or visit: http://twicinformation.tsa.dhs.gov/twicinfo/index.jsp
                    </p>
                </article>
            </div>
        </div>
    </section>
</body>